@model IEnumerable<VotingSystem.Data.Organizations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white" style="text-align:center">Organization</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-outline-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-outline-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
