@model List<VotingSystem.Data.Ballots>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display the positions above the candidates dropdown -->
<div class="table table-sm table-bordered" style="border-radius:12px;">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{
            int i = 0;  
        }
        @foreach (var position in ViewBag.Positions)
        {
            <div class="">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="@Model[i].candidateId" value="@position.name"><h4>@position.name</h4></label>
                        <br>
                        <select asp-for="@Model[i].candidateId" class="form-control form-control-sm form-control-rang">
                            @foreach (var candidate in ViewBag.Candidates)
                            {
                                if (position.id == candidate.positionId)
                                {
                                    <option value="@candidate.id">@candidate.name</option>
                                }
                            }
                        </select>
                        <input type="hidden" asp-for="@Model[i].positionId" value="@position.id" />
                        <input type="hidden" asp-for="@Model[i].organizationId" value="@position.organizationId" />

                    </div>
                </div>
            </div>

            i++;
        }
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-success" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<!-- Display the candidates dropdown -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}