@model VotingSystem.Data.Ballots

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Display the positions above the candidates dropdown -->
@foreach (var position in ViewBag.Positions)
{

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label value="@position.name" class="control-label"></label>
                    <label value="@position.name"><h1>@position.name</h1></label>
                    <br>
                    <select>
                        @foreach (var group in ViewBag.GroupedCandidates)
                        {

                            @foreach (var candidate in group)
                            {
                                @if (position.id == candidate.positionId)
                                {
                                    <option value="@candidate.id">@candidate.name</option>
                                }
                            }
                            <!-- Display the candidates grouped by position -->
                        }
                    </select>
                </div>

                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
}
<input type="submit" value="Create" class="btn btn-primary" />

<!-- Display the candidates dropdown -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}