    @model IEnumerable<VotingSystem.Data.Ballots>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @foreach (var position in Model)
    {
        <h3>@position.candidate.name</h3>
        <div>
            <select>
                @foreach (var candidate in Model)
                {
                    if (position.candidate.id == position.id)
                    {
                        <option value="@candidate.candidate.name">@candidate.candidate.name</option>
                    }
                }
            </select>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    Candidate Name
                </th>
                <th>
                    Position Name
                </th>
                <th>
                    Organization Name
                </th>
                <th>
                    Number of Voters
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.candidate.name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.position.name)
                    </td>

                
                        @Html.DisplayFor(modelItem => item.organization.name)
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
